@import './base.css';

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: #4FB3E8;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(79, 179, 232, 0.2);
  }
}

/* PCでも縦方向の中央寄せにしたい場合は、以下のように設定できます（任意） */
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
} */
